body {
  font-family: 'Segoe UI', Calibri, Geneva, Verdana, sans-serif;
  font-size: 100%;
}

header {
  font-family: sans-serif, Calibri, Geneva, Verdana, ;
  font-size: 120%;
  background: radial-gradient(#00ff00, #ff00ea);
}

nav {
  font-family: sans-serif, Calibri, Geneva, Verdana;
  font-size: 100%;
  background-color: #fe00ea;
}

main {
  font-size: 100%;
  background-color: #00ff00;
  display: inline-block;
}

footer {
  background-color: #ff0000;
  display: inline-block
}

li {
  /*display: block*/
  display: inline-block;
  width: 80%;
}

h1 {
  font-family: sans-serif, Calibri, Geneva, Verdana, ;
  text-align: center
}

p {
  line-height: 2.5;
}